root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.bat]
end_of_line = crlf

[*.yml]
indent_size = 2

[*.conf]
indent_size = 2

[LICENSE]
max_line_length = 80
insert_final_newline = false

[VERSION]
insert_final_newline = false
